*{
    background-color: rgb(151, 199, 196);
    margin: 0px;
    padding: 0px;
}

.heading ,.lvl{
    color: rgb(90, 70, 139);
    animation: change 2.5s infinite;
    
}
.heading:hover{
    cursor:default;
}

b:hover,.lvl:hover{
cursor:pointer;
}

@keyframes change{
0%{
    color: rgb(90, 70, 139);
}
50%{
    color: rgb(0, 0, 0);
}
100%{
    color: rgb(90, 70, 139);
}
} 


.head{
    border: 3px solid teal;
    max-width: max-content;
    border-radius: 8px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
}

.play{
    width: 210px;
    margin: auto;
    margin-top: 210px;
}
.gg-play-button-o {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 210px;
    height: 210px;
    border: 4px solid teal;
    border-radius: 105px;
    background-color: teal;
    transition: width 2s,height 2s,box-shadow 2s,transform 2s;
}
.gg-play-button-o:hover{
    box-shadow:0px 0px 12px 16px rgb(85, 131, 131);
    animation: rotate 2s linear;
}

.gg-play-button-o::before {
    color: rgb(151, 199, 196);
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 60px;
    border-top: 29px solid transparent;
    border-bottom: 29px solid transparent;
    border-left: 56px solid;
    top: 76px;
    left: 76px;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg); 
    }
    
}

.levels{
    border-radius: 10px;
    border: 3px teal solid;
    width: 15%;
    height: 50vh;
    margin: auto;
    margin-top:5%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-around;
}

.lvl{
    height: 8%;
    width: 90%;
    border: 1px teal solid;
    border-radius: 10px;
    padding: 3px;
    text-align:center;
    margin: 0 auto;
    font-size: 1.5em;

}

#board{
    width: 90vh;
    height: 75vh;
    margin: auto;
    margin-top: 20px;
    display:grid;
}

img{
    position: absolute;
    width: 100px;
    margin: auto;
    align-self: baseline;
}

#btn{
    width: 10vh;
    height: 5vh;
    padding: 4px;
    border-radius: 8px;
    background-color: teal;
    color: aliceblue;
    margin-top: 20px;
    font-size: 1em;
    transition: 2s;
}

#btn:hover{
    box-shadow:0px 0px 8px 12px rgb(85, 131, 131);
    size: 0ch;
}
#btn:active{
    transition: 0s;
    width: 8vh;
}

.contbtn{
    width: fit-content;
    margin: auto;

}